<!doctype html>
  <head>
    <title>Index</title>
    <link rel="stylesheet" href="/style.css">
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-auth.js"></script>

</head>
  <body>

  <p>
    <a href="/tags">tags</a>
  </p>
  <form>
    <input type="text" id="url">
    <input type="text" id="repository_url">
    <input type="text" id="title">
    <textarea id="comment" cols="30" rows="10"></textarea>
    <input type="text" class="tag">
    <input type="text" class="tag">
    <input type="text" class="tag">
    <input type="text" class="tag">
    <input type="text" class="tag">
    <input type="file" id="file">
    <button type="button" id="send">send</button>
  </form>
  </body>
  <script src="/script.js"></script>
</html>
