<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./common/meta') %>
    <%- include('./common/firebaseHeader') %>
    <%- include('./common/script') %>
    <%- include('./common/style') %>
    <script src="/web-components/section.js"></script>
    <style>
      h1 + mbtl-form  {
        margin-top: 50px;
      }
      mbtl-form:not(:defined) {
        display: none;
      }
    </style>
</head>
  <body>
    <mbtl-header></mbtl-header>
    <mbtl-side-menu hidden></mbtl-side-menu>

    <mbtl-section>
      <h1>Post Your Best Todo List!</h1>

      <mbtl-form></mbtl-form>
    </mbtl-section>

    <script src="/web-components/form.js"></script>
    <script src="/web-components/fieldset.js"></script>
    <script src="/web-components/img-fieldset.js"></script>
    <script src="/web-components/button-fieldset.js"></script>
    <script src="/web-components/input.js"></script>
    <script src="/web-components/button.js"></script>
    <script src="/web-components/loading.js"></script>
  </body>
</html>
