<!doctype html>
  <head>
    <title>Time</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
  </head>
  <body>
  <h1>hoge</h1>
  <a href="/">/</a>
  <a href="/hoge">hoge</a>
  </body>
</html>
