<!doctype html>
  <head>
    <title>Tags</title>
    <script src="/web-components/list.js"></script>
    <script src="/web-components/tag.js"></script>
  </head>
  <body>

    <h2>Popular Tag!</h2>
    <mbtl-list>
      <% for (var tag of tags) { %>
      <li>
        <mbtl-tag
          href="/tags/<%= tag.id %>"
          tag="<%= tag.id %>"
          count="<%= tag.count %>"
        >
        </mbtl-tag>
      </li>
      <% } %>
    </mbtl-list>
  </body>
</html>
